<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <table class="table"
      *ngIf='albums && albums.length'>
      <thead>
        <tr>
          <th>
          </th>
          <th>Album Title</th>
          <th>Artist</th>
          <th>Release Date</th>
          <th>Price</th>
          <th>5 🎤 Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let album of filteredAlbums'>
          <td>
            <img
              *ngIf="showImage"
              [src]='album.imageUrl'
              [title]='album.albumTitle'
              [style.width.px]='imageWidth'
              [style.margin.px]='imageMargin'>
          </td>
          <td><a [routerLink]="['/albums', album.albumId]">
            {{ album.albumTitle }}
              </a>
          </td>
          <td>{{ album.artist | convertToSpaces: '-' }}</td>
          <td>{{ album.releaseDate }}</td>
          <td>{{ album.price | currency: 'USD': 'symbol':'1.2-2' }}</td>
          <td>
            <am-star [rating]='album.starRating' (ratingClicked)='onRatingClicked($event)'></am-star>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
