<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/hiphopgoldenage-top-100-albums-hhga.jpg"
             class="img-responsive center-block"
             style="max-height: 300px;padding-bottom: 50px;">
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">Carlton Stith</div>

      <div class="text-center">
        <a href="https://twitter.com/carltonstith" target="_blank" rel="noopener">
          @carltonstith
        </a>
        <!-- <a [routerLink]="https://twitter.com/carltonstith">
          @carltonstith
            </a> -->
      </div>
      <div class="text-center">
        <a href="https://ceejaysmedia.com/" target="_blank" rel="noopener">
          CeeJaySMedia
        </a>
      </div>
    </div>
  </div>
</div>
